<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/index.css">
    <title>lab2</title>
</head>
<style>
    /* index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

</style>
<body>
    <!-- <div class="content">
        <h1>hello world</h1>
    </div> -->
    <div class="container">
        <h1>Danh sach mon hoc</h1>        
        <table >
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên môn học</th>
              <th>Loại môn học</th>
              <th>Học kỳ</th>
              <th>Khoa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Cơ sở dữ liệu</td>
              <td>Cơ sở</td>
              <td>HK1 2020-2021</td>
              <td>K.CNTT</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Cấu trúc dữ liệu</td>
                <td>Cơ sở</td>
                <td>HK1 2020-2021</td>
                <td>K.CNTT</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Công nghệ phân mềm</td>
                <td>Cơ sở ngành</td>
                <td>HK1 2020-2021</td>
                <td>K.CNTT</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Công nghệ mới</td>
                <td>Chuyên ngành</td>
                <td>HK1 2020-2021</td>
                <td>K.CNTT</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Đồ án môn học</td>
                <td>Chuyên ngành</td>
                <td>HK1 2020-2021</td>
                <td>K.CNTT</td>
              </tr>
          </tbody>
        </table>
      </div>
</body>
</html>